$border-radius-big: 0.5rem;
$border-radius-md: 0.25rem;

$layer-modal: 2000;

$light-100: #f2f3f4;
$light-200: #e5e7e9;
$light-300: #d7dbdd;
$light-600: #a6acaf;

$background-light-base: $light-100;
$background-light-section: $light-200;
$background-light-toolbar: $light-300;

$background-button-secondary: $light-600;

$padding-2: 0.5rem;
$padding-3: 0.75rem;